*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Proza Libre", sans-serif;
  line-height: 1.7; }

.shop-text {
  color: #2e282a;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 24.4rem; }

.deliver {
  background-color: #2e282a;
  display: none;
  height: 3.2rem;
  justify-content: center;
  align-items: center; }
  .deliver__text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0.867rem;
    width: 28rem; }

.tns-nav {
  display: none; }

.hero {
  height: 16rem; }
  .hero__broccoli {
    background: url("../images/broccoli.png"), linear-gradient(to right, #bdde8a, #a5ca77);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; }
  .hero__apples {
    background: url("../images/apples.png"), linear-gradient(to right, #eacdc4, #ecae91);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; }
  .hero__tomatoes {
    background: url("../images/tomatoes.png"), linear-gradient(to right, #fec1c0, #ff7875);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; }
  .hero__text-container {
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;
    margin-left: 1.5rem; }
    .hero__text-container--1 {
      margin-top: 1.5rem;
      width: 69%; }
      .hero__text-container--1__title {
        color: #000000;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 120%;
        text-transform: capitalize; }
    .hero__text-container--2 {
      width: 66%; }
      .hero__text-container--2__subtitle {
        color: #2e282a;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.0025em; }
  .hero__shop {
    display: none;
    margin-left: 1.5rem; }

.shop {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 12.8rem;
  justify-content: center; }

.products {
  background-color: #f4f7f4;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  padding-top: 3rem; }
  .products__carousel {
    overflow: hidden;
    padding: 1.6rem;
    position: relative; }
    .products__carousel__name {
      color: black;
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      height: 3.2rem;
      line-height: 2.4rem;
      letter-spacing: 0.0025em;
      margin-bottom: 1.6rem;
      text-transform: uppercase; }
    .products__carousel__options {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1.2rem;
      min-width: 50rem; }
      .products__carousel__options__item {
        text-transform: capitalize; }
        .products__carousel__options__item:not(:last-child) {
          margin-right: 4rem; }
    .products__carousel__scrollbar {
      border: 2px solid black;
      position: absolute;
      top: 10.1rem;
      left: 1.5rem;
      width: 10rem; }
    .products__carousel__scroll {
      border: 1px solid #c7c0c2;
      min-width: 50rem; }
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 4rem;
    padding: 0.4rem; }

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 6.4rem; }

.product-types {
  display: flex;
  flex-direction: column; }
  .product-types__fruit {
    background: url("../images/blueberry.png"), linear-gradient(to bottom, #c4deea, #aecfdb);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 44rem; }
    .product-types__fruit__description {
      display: flex;
      flex-direction: column; }
      .product-types__fruit__description__name {
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 150%;
        margin-bottom: 2.4rem;
        margin-top: 6.4rem;
        text-align: center; }
      .product-types__fruit__description__about {
        color: #2e282a;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        margin: 0 3rem;
        text-align: center; }
  .product-types__vegetables {
    background: url("../images/pea.png"), linear-gradient(to bottom, #f8fce4, #e2ebcf);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 44rem; }
    .product-types__vegetables__description {
      display: flex;
      flex-direction: column; }
      .product-types__vegetables__description__name {
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 150%;
        margin-bottom: 2.4rem;
        margin-top: 6.4rem;
        text-align: center; }
      .product-types__vegetables__description__about {
        color: #2e282a;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        margin: 0 3rem;
        text-align: center; }
  .product-types__dairy {
    background: url("../images/cheese.png"), linear-gradient(to bottom, #fbedc8, #f8d9a1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 44rem; }
    .product-types__dairy__description {
      display: flex;
      flex-direction: column; }
      .product-types__dairy__description__name {
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 150%;
        margin-bottom: 2.4rem;
        margin-top: 6.4rem;
        text-align: center; }
      .product-types__dairy__description__about {
        color: #2e282a;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.0025em;
        margin: 0 3rem;
        text-align: center; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.6rem; }
  .about__title {
    align-self: flex-start;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 120%;
    margin-top: 5.6rem; }
  .about__text {
    color: #2e282a;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 3.2rem; }
    .about__text__paragraph-1 {
      margin-bottom: 3.2rem; }
    .about__text__paragraph-2 {
      margin-bottom: 6.4rem; }

@media only screen and (min-width: 992px) {
  .deliver {
    display: flex; }
  .tns-outer {
    position: relative; }
  .tns-nav {
    display: inline-block;
    height: 28px;
    left: 50%;
    margin-left: -25px;
    margin-top: -14px;
    position: absolute;
    top: 95%;
    width: 50px; }
    .tns-nav button {
      border: none;
      border-radius: 50%;
      height: 5px;
      opacity: 0.5;
      width: 5px; }
      .tns-nav button:not(:last-child) {
        margin-right: 0.8rem; }
      .tns-nav button.tns-nav-active {
        height: 8px;
        opacity: 1;
        width: 8px; }
  .hero {
    height: 56rem; }
    .hero__broccoli {
      background: url("../images/broccoli-big.png"), linear-gradient(to right, #bdde8a, #a5ca77);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
    .hero__apples {
      background: url("../images/apples-big.png"), linear-gradient(to right, #eacdc4, #ecae91);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
    .hero__tomatoes {
      background: url("../images/tomatoes-big.png"), linear-gradient(to right, #fec1c0, #ff7875);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
    .hero__text-container {
      height: fit-content;
      justify-content: flex-start;
      margin-bottom: 17rem;
      margin-left: 16rem;
      margin-top: 5rem; }
      .hero__text-container--1 {
        margin-bottom: 2.4rem;
        width: 40%; }
        .hero__text-container--1__title {
          font-size: 4.8rem; }
      .hero__text-container--2 {
        width: 100%; }
        .hero__text-container--2__subtitle {
          font-size: 1.8rem; }
    .hero__shop {
      display: block;
      margin-left: 16rem; }
  .shop {
    display: none; }
  .products__carousel {
    padding: 3rem 14rem 0 14rem; }
    .products__carousel__options__item:not(:last-child) {
      margin-right: 8rem; }
    .products__carousel__scrollbar {
      top: 11.5rem;
      left: 13.7rem; }
  .products__list {
    padding: 3rem 11.5rem; }
  .info {
    flex-direction: row;
    padding: 0 6rem; }
  .product-types__fruit {
    background: url("../images/blueberry-big.png"), linear-gradient(to bottom, #c4deea, #aecfdb);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    max-width: none;
    width: 100%; }
    .product-types__fruit__description__name {
      margin-left: 71rem;
      margin-top: 14.4rem;
      text-align: left; }
    .product-types__fruit__description__about {
      width: 33%;
      margin-left: 71rem;
      text-align: left; }
  .product-types__vegetables {
    background: url("../images/pea-big.png"), linear-gradient(to bottom, #f8fce4, #e2ebcf);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    max-width: none;
    width: 100%; }
    .product-types__vegetables__description__name {
      margin-left: 10%;
      margin-top: 14.4rem;
      text-align: left; }
    .product-types__vegetables__description__about {
      margin-left: 10%;
      text-align: left;
      width: 40%; }
  .product-types__dairy {
    background: url("../images/cheese-big.png"), linear-gradient(to bottom, #fbedc8, #f8d9a1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    max-width: none;
    width: 100%; }
    .product-types__dairy__description__name {
      margin-left: 71rem;
      margin-top: 14.4rem;
      text-align: left; }
    .product-types__dairy__description__about {
      width: 33%;
      margin-left: 71rem;
      text-align: left; }
  .about {
    align-items: flex-start; }
    .about__title {
      font-size: 4rem;
      margin-left: 10rem; }
    .about__text {
      display: flex;
      font-size: 1.4rem; }
      .about__text__paragraph-1 {
        margin-bottom: 8rem;
        margin-right: 3.2rem;
        margin-left: 10rem; }
      .about__text__paragraph-2 {
        margin-bottom: 8rem;
        margin-right: 10rem; } }

.header {
  align-items: center;
  display: flex;
  height: 7.2rem;
  justify-content: space-between; }
  .header__button {
    padding-left: 1.9rem; }
  .header__text-container {
    display: none; }
    .header__text-container__text-1 {
      align-items: center;
      cursor: pointer;
      color: black;
      display: flex;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      height: 2.4rem;
      line-height: 1.9rem;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      width: 7.2rem; }
    .header__text-container__text-2 {
      align-items: center;
      cursor: pointer;
      color: black;
      display: flex;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      height: 2.4rem;
      line-height: 1.9rem;
      letter-spacing: 0.04em;
      margin-left: 6.4rem;
      text-transform: uppercase;
      width: 7.7rem; }
  .header__logo {
    height: 5.6rem;
    width: 7.7rem; }
  .header__cart {
    cursor: pointer;
    display: flex;
    padding: 1.728rem; }
    .header__cart__text {
      align-items: center;
      display: none;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      height: 2.4rem;
      line-height: 1.9rem;
      letter-spacing: 0.04em;
      margin-right: 2.2rem;
      text-transform: uppercase;
      width: 8.7rem; }
    .header__cart__icon {
      height: 2.4rem;
      width: 2.4rem; }

@media only screen and (min-width: 992px) {
  .header {
    height: 11.2rem;
    justify-content: space-around; }
    .header__button {
      display: none; }
    .header__text-container {
      display: flex; }
    .header__logo {
      height: 8.8rem;
      width: 12.1rem;
      margin-right: 40px; }
    .header__cart__text {
      display: flex; } }

.footer {
  align-items: center;
  background-color: #2e282a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  height: 28rem;
  justify-content: space-around;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase; }

@media only screen and (min-width: 992px) {
  .footer {
    height: 16.8rem;
    flex-direction: row; } }

.shop-button {
  background-color: black;
  border: none;
  border-radius: 72px;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 1.6rem;
  padding: 1.6rem 4.7rem;
  text-decoration: none;
  text-transform: uppercase; }

.product {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 34.4rem;
  margin: 1.6rem 1.6rem;
  width: 15.6rem; }
  .product__image {
    height: 9.6rem;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
    width: 14rem; }
  .product__name {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    height: 4.8rem;
    letter-spacing: 0.0025em;
    line-height: 2.4rem;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
    text-align: center;
    width: 7.2rem; }
  .product__price {
    color: #7a7677;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.0025em;
    margin-bottom: 3.2rem;
    width: 8.9rem; }
  .product__amount {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
    width: 100%; }
    .product__amount__decrease {
      cursor: pointer; }
    .product__amount__increase {
      cursor: pointer; }
    .product__amount__number {
      align-self: flex-end;
      color: black;
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      height: 2.4rem;
      line-height: 2.4rem;
      margin-right: 2rem;
      margin-left: 2rem;
      width: 0.9rem; }

@media only screen and (min-width: 992px) {
  .product {
    height: 40rem;
    margin: 1.2rem 2rem;
    width: 25.6rem; }
    .product__image {
      height: 16rem;
      width: 22.4rem; }
    .product__name {
      height: 2.4rem;
      width: 80%; } }

.info-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center; }
  .info-card__icon {
    height: 6.4rem;
    margin-bottom: 1.6rem;
    width: 6.4rem; }
  .info-card__description__title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.0025em;
    margin-bottom: 0.8rem; }
  .info-card__description__text {
    color: #2e282a;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    max-width: 24rem; }

@media only screen and (min-width: 992px) {
  .info-card {
    align-items: flex-start;
    flex-direction: row;
    margin-right: 5.6rem;
    text-align: left; }
    .info-card__icon {
      margin-right: 1.5rem; }
    .info-card__description {
      align-self: flex-end; } }
