.shop {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 12.8rem;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .shop {
    display: none;
  }
}
