.shop-button {
  background-color: black;
  border: none;
  border-radius: 72px;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 1.6rem;
  padding: 1.6rem 4.7rem;
  text-decoration: none;
  text-transform: uppercase;
}
