.info-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center;

  @media only screen and (min-width: 992px) {
    align-items: flex-start;
    flex-direction: row;
    margin-right: 5.6rem;
    text-align:left;
  }

  &__icon {
    height: 6.4rem;
    margin-bottom: 1.6rem;
    width: 6.4rem;

    @media only screen and (min-width: 992px) {
      margin-right: 1.5rem;
    }
  }

  &__description {
    @media only screen and (min-width: 992px) {
      align-self: flex-end;
    }

    &__title {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.0025em;
      margin-bottom: 0.8rem;
    }

    &__text {
      color: #2E282A;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.0025em;
      width: 24rem;
    }
  }
}