*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Proza Libre", sans-serif;
  line-height: 1.7;
}