.main-text-1 {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 120%;
  color: #000000;
}

.main-text-2 {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.0025em;
  color: #2e282a;
}

.shop-text {
  width: 24.4rem;
  height: 1.6rem;
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #2e282a;
}
