.main {
  height: 16rem;

  background: url('../images/apples.png'), linear-gradient(to right, #eacdc4, #ecb093);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text-box--1 {
    width: 60%;
    margin-bottom: 1rem;
    margin-left: 1.5rem;

  }

  &__text-box--2 {
    width: 60%;
    margin-left: 1.5rem;
  }
}
