.main {
  background: url("../images/apples.png"), linear-gradient(to right, #eacdc4, #ecb093);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: center;

  &__text-box--1 {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    width: 60%;
  }

  &__text-box--2 {
    margin-left: 1.5rem;
    width: 60%;
  }
}

.shop {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 12.8rem;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  height: 154.8rem;

  &__options {
    display: flex;
    justify-content: space-between;
  }

  &__carousel-bar {
    border: 1px solid #C7C0C2;
    margin-bottom: 2.4rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}